.gold {
    color: #d1ac60 !important;
}

.white {
    color: #fff;
}

.bg-custom-dark {
    background-color: #666666;
}

.bg-custom-darker {
    background-color: #292929;
}

.bg-grey-c{
    background-color: #f8f8f8;
}

.wrap-header-mobile {
    background-color: #fff !important;
}

.bottom-line-white {
    border-bottom: 1px solid #ffffff;
}

.menu-font-style {
    font-size: 16px !important;
    color: #000 !important;
}

#header-sticky .wrap-menu-desktop {
    top: 0 !important;
}

.wrap-menu-desktop{
    position: inherit;
}

#header-sticky {
    height: 100px;
}

#header-sticky .fix-menu-desktop {
    height: 100px;
}

.fix-menu-desktop .wrap-menu-desktop{
    height: 100px !important;
}

.main-menu .sub-menu .disabled-link {
    color: #726866 !important;
}

.menu-desktop .main-menu .sub-menu li {
    background-color: #000;
    border-bottom: 1px solid #000;
}

.menu-desktop .main-menu .sub-menu li a {
    color: #fff;
}

.menu-desktop .main-menu>li:hover>a {
    text-decoration: none;
    color: #fff;
}

.menu-desktop .sub-menu li:hover {
    background-color: #000;
}

#back-navigation {
    width: 175px;
}

.back-font {
    font-size: 10px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: #fff !important;
}

.logo-footer{
    width: 120px;
}

.logo-responsive{
    height:75px;
}

.footer-font-size{
    font-size: 12px;
}

.headoffice-footer{
    padding-top: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #ddd;
}

.nav-tabs{
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    display: -moz-box;
    border: none !important;
}

.nav-tabs-static{
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    padding-left: 16px;
    padding-right: 16px;
    border: none !important;
}

.nav-tabs>li {
    float: none;
}

.nav-link.active.nav-custom-box{
    background-color: #1d2754;
    color: #fff !important;
}

.nav-link{

}

.nav-custom-box{
    border-radius: 34px !important;
    background-color: rgba(246, 246, 247, 0);
    margin: 5px;
    color: #1d2754 !important;
    padding: 30px !important;
    font-size: 22px;
    border: 1px solid darkgrey !important;
    transition: 0.3s;
}

.nav-link.nav-custom-box:hover{
    background-color: #1d2754;
    color: #fff !important;
}

.swiper-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.swiper-wrapper {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.swiper-container .swiper-slide {
    width: auto;
    flex-wrap: nowrap;
    /* Center slide text vertically */
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}

.swiper-container .swiper-slide:first-child {
    margin-left: 50px;
}

.swiper-container .swiper-slide:last-child {
    margin-right: 50px;
}

.section-body{
    padding-top: 0 !important;
}

@media (min-width: 200px) {

    .logo-responsive{
        height:102px;
    }

    .section-body{
        padding-top: 0 !important;
    }

    .workshop-footer {
        padding-top: 10px;
    }

    .nav-custom-box{
        margin: 12px;
        padding: 12px !important;
        font-size: 10px;
        border: 1px solid darkgrey !important;
    }
}

@media (min-width: 400px) {

    .logo-responsive{
        height:204px;
    }

    .section-body{
        padding-top: 0 !important;
    }

    .workshop-footer {
        padding-top: 20px;
    }

    .nav-custom-box{
        margin: 12px;
        padding: 22px !important;
        font-size: 14px;
        border: 1px solid darkgrey !important;
    }
}

@media (min-width: 576px) {

    .logo-responsive{
        height:204px;
    }

    .section-body{
        padding-top: 0 !important;
    }

    .workshop-footer {
        padding-top: 20px;
    }

    .nav-custom-box{
        margin: 12px;
        padding: 26px !important;
        font-size: 18px;
        border: 1px solid darkgrey !important;
    }
}

@media (min-width: 768px) {

    .navbar{
        padding:0 !important;
    }
    .navbar-brand{
        margin-right: 0 !important;
        padding:0 !important;
        border: 1px solid darkgray;
    }

    .navbar-logo{
        margin-right: 0 !important;
        padding:0 !important;
        border: 1px solid darkgray;
    }

    .navbar-items{
        margin-right: 0 !important;
        padding:0 !important;
        border-top: 1px solid darkgray;
        border-right: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        border-left: 0;
    }

    .section-body{
        padding-top: 45px !important;
    }

    .nav-custom-box{
        margin: 12px;
        padding: 26px !important;
        font-size: 22px;
        border: 1px solid darkgrey !important;
    }

    .workshop-footer {
        padding-top: 3rem;
        margin-top: 1rem;
    }

    .copyright {
        padding-top: 150px !important;
    }

    .headoffice-footer {
        padding-top: 55px;
    }

    .workshop-footer {
        padding-top: 55px;
    }

    .logo-footer{
        width: 170px;
    }

    .footer-font-size{
        font-size: 16px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1024px) {
    #back-navigation {
        width: 348px;
    }
}

@media (min-width: 1350px) {
    .logo-responsive{
        height:217px;
    }
}

@media (min-width: 1400px) {
    .logo-responsive{
        height:230px;
    }
}

@media (min-width: 1900px) {
    .logo-responsive{
        height:308px;
    }
}
